

.jumbotron{
background-color: orange;
color: white;
font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
footer{
    background-color: orange;
    color: white;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
   
}
nav{
    background-color: ora;
}
.nav :active{
    background-color: orange;
}

.nav-pills .nav-link.active,
.show>.nav-pills .nav-link{
    background:orange!important
    
}
.nav-pills a{
    color: orange;
    font-size: larger;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    }

#demo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin-top:10px;
    margin-bottom: 100px;
    background-color: orange;
}
.carousel-inner{
    margin-left: 60px;


}
img{
    margin-bottom: 20px;
    margin-top: 20px;
}

footer{
    margin-top: 2rem;
}

   
    
.card  .btn{
    background-color: orange;
    border: orange;
}
.container-fluid .card{
    margin-top: 10px;
    margin-bottom: 10px;
    
}
.container-fluid .col-3{
    background-color: orange;
    margin-top: 10px;
}
.row-comAdo .jumbotron{
    color: black;
    margin-top: 20px;
}