.jumbotron/*QUE ESTE PEGADO A LA DE ARRIBA EL CUADRADO ELEGIDO*/
{
    margin-bottom: 0px;
}

#cuerpo{
    border: 1px solid coral;
    border-radius: 5px;
}
.carousel-inner img {
    width: 100%;
    height: 100%;
  }

.carousel  p{
    color: red;
}
.carousel  h3{
    color: red;
}
